/* CABEÇALHO */

.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

/* MENU */

.menu__container {
    position: fixed;
    bottom: 0;
    height: 79px;
    width: 100%;
    z-index: 1;
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li {
    align-self: center;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
    display: none;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* SEÇÃO SUPERIOR */

.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
    top: 79px;
}

/* RODAPÉ */

.rodape__container {
    display: none;
}

/* VÍDEOS */

.videos__item {
    height: 303px;
    width: 260px;
    flex-grow: 1;
}

.videos__container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

@media (min-width: 834px) {

    /* CABEÇALHO */

    .cabecalho__pesquisar__item {
        display: block;
    }

    /* RODAPÉ */

    .rodape__container {
        justify-content: space-between;
    }

    /* MENU LATERAL PARA TELAS DE TABLETS */

    .menu__container {
        left: 0;
        height: auto;
        width: 74px;
        top: 80px;
    }

    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 33px;
    }

    .rodape__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
        bottom: 0%;
    }

}

@media (min-width: 1440px) {
    .menu__container {
        width: 239px;
    }


    .menu__lista {
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 15px;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
        display: flex;
    }

    .menu__itens {
        flex-direction: row;
        gap: 15px;
        padding: 7px;
        align-items: center;
    }

    .menu__lista:nth-child(3) {
        flex-direction: column-reverse;
    }

    .jogos {
        order: 3;
    }

    .filmes {
        order: 2;
    }

    .premium {
        order: 1;
    }

    .maispagina {
        order: 4;
    }

    .rodape__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }


}